@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fira+Sans+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*-- scss:defaults --*/
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #ddd !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Inferno colors
// viridisLite::viridis(8, option = "inferno", begin = 0.1, end = 0.9)
$blue: #42159d !default;
$indigo: #771c6d !default;
$purple: #480b6a !default;
$pink: #a52c60 !default;
$red: #cf4446 !default;
$orange: #ee6a24 !default;
$yellow: #fb9e07 !default;
$green: #02b875 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$paf-color: #0E4E77 !default;
$paf-color-accent: #C4232A !default;

$primary: $paf-color !default;
$secondary: $gray-500 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$font-family-sans-serif: Fira Sans Condensed, sans-serif !default;
$font-family-serif: Barlow, serif !default;

$font-size-base: 1.25rem !default;
$headings-font-weight: 700 !default;

$h1-font-size: $font-size-base * 2.45;
$h2-font-size: $font-size-base * 1.85;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.8;

$toc-font-size: 1.1rem;
$sidebar-font-size: 1.1rem;
$sidebar-font-size-section: 0.9rem;

/*-- scss:rules --*/
// Custom active link colors
.navbar .navbar-nav .show > .nav-link,
.navbar .navbar-nav .active > .nav-link,
.navbar .navbar-nav .nav-link.active {
  color: $paf-color-accent;
}

div.sidebar-item-container .active, div.sidebar-item-container .show > .nav-link, div.sidebar-item-container .sidebar-link > code {
  color: $paf-color-accent;
}

// base nav-link color
.navbar .navbar-nav .nav-link {
  color: $paf-color;
}

div.sidebar-item-container, div.sidebar-item-container .sidebar-link > code {
  color: $paf-color;
}

// sidebar spacing
.sidebar-navigation {
  padding-left: 0.2rem;
}

// Home page
.title-block {
  margin: 1em 0;
  border-bottom: 3px solid $gray-200;
  padding-bottom: 1em;
}

.program-details {
  margin: 0 0 1em;
  border-bottom: 3px solid $gray-200;
  padding-bottom: 1em;
}

.program-details h3 {
  margin-top: 0;
}

.program-title {
  font-size: 3.5rem;
  margin-top: 0;
}

.program-subtitle {
  font-size: 1.7rem;
}

.program-meta {
  font-size: 1.2rem;
  color: $gray-600;
}

.program-details ul {
  list-style: none;
  text-indent: -0.7rem;
  padding-left: 1.4rem;
}
